asgiref==3.11.1
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==46.0.6
dataclasses==0.6
dj-rest-auth==7.2.0
Django==6.0.4
django-allauth==65.15.1
django-cors-headers==4.9.0
django-mongodb-backend==6.0.2
djangorestframework==3.16.1
dnspython==2.8.0
google-auth==2.49.1
gunicorn==26.0.0
idna==3.11
packaging==26.2
pillow==12.2.0
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
PyJWT==2.12.1
pymongo==4.10.1
python-dotenv==1.2.2
pytz==2026.1.post1
requests==2.33.1
sqlparse==0.5.5
urllib3==2.6.3
